<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.jwh.demo.core.utils.BeanUtils"/>

    <bean class="com.jwh.demo.ProviderFactory" init-method="init" destroy-method="destroy">
        <property name="zkUrl" value="${zkUrl}"/>
        <property name="zkSessionTimeout" value="${timeout}"/>
        <property name="providerPort" value="${port}"/>
    </bean>
</beans>